## Importing libs

In [1]:
#to use the sleep feature
import time

#Basic Math operation
import numpy as np

#DataFrames, Series Data Mauplation
import pandas as pd

#Use the web browser like a human
from selenium import webdriver

## Scraper

In [4]:
%%time
#We are going to use Firefox as our Browser
browser=webdriver.Firefox()

#Now lets access FireFox and open our wesite using .get()
browser.get('https://pgd.datascience.manipal.edu/?q=MULNLogin/dslogin')

#Giving User-id remotely
emailElem=browser.find_element_by_id('edit-loginId-1')
emailElem.send_keys('19225760060')

#Giving Password remotely
passElem=browser.find_element_by_id('edit-password-1')
passElem.send_keys('19225760060')

#Submit to enter into the website
emailElem.submit()
time.sleep(5) #sleep to make the browser feel like a real user

#entering into MyCourse
menu=browser.find_element_by_xpath('/html/body/div[2]/header/div/div/div/div/div[1]/div[2]/nav/div/ul/li[3]')
menu.click()

#selecting subjects
subjects={4:'pds', 5:'stds', 6:'dsdw', 7:'dav', 8:'bdt', 9:'ml'}

#List of DataFrame's names
df_lists=[]

#Final DataFrame with Names, Roll.no., and all subjectsject percentages of Assesments and course completion.
scores_df=pd.DataFrame()


for k in range(4,10):
    #Subject container for each 'k'
    xpath=('//*[@id="sub-container"]/a[{}]/div').format(k)
    sub=browser.find_element_by_xpath(xpath)
    sub.click()
    time.sleep(6)
    
    #Once enter into Subject page, we need to click on performance
    perf=browser.find_element_by_xpath('//*[@id="studentReports"]')
    perf.click()
    time.sleep(6)
    
    #Then our destination, Leader Board
    lederb=browser.find_element_by_xpath('//*[@id="content-content"]/div/div/div/div[2]/div/ul/li[3]')
    lederb.click()
    time.sleep(6)
    
    #Changing the no.of. rows to show option to 'All'
    sel=browser.find_element_by_xpath('/html/body/div[2]/section/div/div/div[2]/div/div/div/div/div/div/div[2]/div/div/div/div[2]/div/div/div[1]/label')
    sel.click()
    op=browser.find_element_by_xpath('//*[@id="leaderboard-students-list_length"]/label/select/option[5]')
    op.click()
    
    #selecting columns: 2, 3, 4, and 5
    for j in range(2,6):
        globals()['list_{}_{}'.format(k,j)]=[]
        for i in range(1,18):
            xpath=('//*[@id="leaderboard-students-list"]/tbody/tr[{}]/td[{}]').format(i,j)
            
            #extracting data from each column
            data=browser.find_element_by_xpath(xpath)
            
            #Data from each columns falls under new list respectively
            globals()['list_{}_{}'.format(k,j)].append(data.text)
        
    #Back to MyCourse menu, as our work on the current subject leader board is done.        
    menu=browser.find_element_by_xpath('//*[@id="secondary-menu"]/ul/li[3]')
    menu.click()

 
    
    #List for each subject, containing the 4 listed created in the above 
    globals()["{}".format(subjects[k])]=[]
    
    
    ##Appending those 4 list into the subject wise list created right above 
    for j in range(2,6):
        globals()["{}".format(subjects[k])].append(globals()['list_{}_{}'.format(k,j)])
    
    #Creating Sujectwise DataFrame from the above create subject wise list
    globals()["{}_df".format(subjects[k])]=pd.DataFrame(globals()["{}".format(subjects[k])]).transpose()
    globals()["{}_df".format(subjects[k])].columns=['Name','Roll_Number','{}_Ass_Pct'.format(subjects[k]),'{}_Course_Pct'.format(subjects[k])]
    
    #Saving the individual subject DataFrame to csv on our machine
    globals()["{}_df".format(subjects[k])].to_csv('{}.csv'.format(subjects[k]))
    
    #Appending all subject wise DataFrame Names created in the above
    #For our refference
    df_lists.append("{}_df".format(subjects[k]))
    df_lists

NoSuchElementException: Message: Unable to locate element: //*[@id="sub-container"]/a[4]/div

In [4]:
df_lists

['pds_df', 'stds_df', 'dsdw_df', 'dav_df', 'bdt_df', 'ml_df']

In [6]:
ml_df

,Name,Roll_Number,ml_Ass_Pct,ml_Course_Pct
0,Piyush Sharma,19225760038,28.83%,74.89%
1,Prabhandham Meghana,19225760039,8.33%,16.11%
2,Ankit Deepak Mistry,19225760008,8.17%,13.52%
3,Rohit Sanam Venkata,19225760045,9.67%,9.18%
4,Kruthika Ambrose,19225760024,10.83%,6.05%
5,Veerendra Sai Datta Saravan Bhadrachalam,19225760060,14.33%,2.27%
6,Ramireddy Avinash,19225760069,9.67%,5.52%
7,Maka Naga Kalyan,19225760026,8.67%,5.55%
8,Rama Veera Isaiah,19225760067,8.67%,5.36%
9,Miduthuru Karthik,19225760028,9.33%,4.15%
10,Navadeep Pasala,19225760033,9.67%,2.83%
11,Velagaleti Harshitha,19225760061,8.67%,2.74%
12,Velagaleti Raviteja,19225760062,9.67%,0.21%
13,Kola Sai Kumar,19225760022,9.33%,0.41%
14,Kousalya D,19225760023,9.67%,-
15,Pulla Sai Naveen,19225760044,9.67%,-
16,Asis Mohanty,19225760010,9.33%,-

## Cumulative DataFrame(Merging)

In [7]:
student_df = pd.DataFrame({'Name': list_4_2, 'Roll_Number': list_4_3})

student_df

                                        Name  Roll_Number
0                              Piyush Sharma  19225760038
1   Veerendra Sai Datta Saravan Bhadrachalam  19225760060
2                       Velagaleti Harshitha  19225760061
3                           Pulla Sai Naveen  19225760044
4                        Prabhandham Meghana  19225760039
5                                 Kousalya D  19225760023
6                        Velagaleti Raviteja  19225760062
7                           Maka Naga Kalyan  19225760026
8                          Miduthuru Karthik  19225760028
9                        Ankit Deepak Mistry  19225760008
10                       Rohit Sanam Venkata  19225760045
11                         Rama Veera Isaiah  19225760067
12                              Asis Mohanty  19225760010
13                           Navadeep Pasala  19225760033
14                          Kruthika Ambrose  19225760024
15                         Ramireddy Avinash  19225760069
16                            Kola Sai Kumar  19225760022

In [8]:
for k in range(4, 10):    
    #The Final and our cummulative DataFrame with all subject score
    #By concatination of subject wise DataFrames
    #This gives us a dataFrame with Duplicate columns of Name And Roll_Number;
    student_df=pd.merge(student_df,globals()["{}_df".format(subjects[k])])

student_df.head()

,Name,Roll_Number,pds_Ass_Pct,pds_Course_Pct,stds_Ass_Pct,stds_Course_Pct,dsdw_Ass_Pct,dsdw_Course_Pct,dav_Ass_Pct,dav_Course_Pct,bdt_Ass_Pct,bdt_Course_Pct,ml_Ass_Pct,ml_Course_Pct
0,Piyush Sharma,19225760038,88.61%,84.03%,53.70%,33.87%,81.11%,18.89%,61.25%,39.95%,37.30%,17.41%,28.83%,74.89%
1,Veerendra Sai Datta Saravan Bhadrachalam,19225760060,99.25%,46.20%,53.33%,37.82%,80.00%,-,80.94%,16.53%,37.30%,0.21%,14.33%,2.27%
2,Velagaleti Harshitha,19225760061,93.81%,48.27%,52.04%,45.77%,86.67%,31.34%,41.56%,12.90%,38.28%,10.19%,8.67%,2.74%
3,Pulla Sai Naveen,19225760044,95.95%,39.55%,48.89%,35.65%,84.44%,5.74%,43.64%,1.95%,35.63%,11.40%,9.67%,-
4,Prabhandham Meghana,19225760039,89.28%,41.47%,49.63%,42.24%,77.78%,51.10%,40.63%,13.71%,41.49%,14.71%,8.33%,16.11%

## Saving to csv on our machine

In [9]:
student_df.to_csv('student_scores.csv')